<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panel główny</title>
</head>
<body>
<h1>Panel admina</h1>

<a>Nazwa firmy</a>
<button onclick="myFunction('formName')">Pokaż</button>

<form id="formName" STYLE="display: none" action="#" th:action="@{admin/update(field='name')}" method="post" th:object="${company}">
    <input th:field="${company.name}">
    <input type="submit" value="Zmień" />
</form>

<a><br>Adres firmy</a>
<button onclick="myFunction('formAddress')">Pokaż</button>

<form id="formAddress" STYLE="display: none" action="#" th:action="@{admin/update(field='address')}" method="post" th:object="${company}">
    <input th:field="${company.address}">
    <input type="submit" value="Zmień" />
</form>


<script>
    function myFunction(a) {
        var x = document.getElementById(a);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>