<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panel główny</title>
</head>
<body>
<p id="id_message" th:text="${message}" onclick="myFunction('id_message')" th:if="${message  ne null}"></p>
<a th:href="@{/admin/employee/all}">Powrót</a><br>
<div id="modify_id">
    <form action="#" method="post" th:action="@{/admin/employee/change(id=${employee.id})}"
          th:object="${employee}">
        <a>Nazwa</a><br>
        <input type="text" th:field="*{name}"><br>
        <input type="submit" value="Zmień">
    </form>
    <form action="#" method="post" th:action="@{/admin/employee/change(id=${employee.id})}"
          th:object="${employee}">
        <a>Email</a><br>
        <input type="email" th:field="*{email}"><br>
        <input type="submit" value="Zmień">
    </form>
    <a>Zdjęcie</a>
    <img th:src="@{${'/employee/'+employee.photo.path}}" width="120" height="120"/>
    <form action="#" th:action="@{/admin/employee/change(id=${employee.id})}" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
        <input type="submit" value="Zmień"/>
    </form>
    <br>
    <button onclick="myFunction('addHoliday')">Dodaj urlop</button>
    <form id="addHoliday" method="post" STYLE="display: none"
          th:action="@{/admin/employee/change(id=${employee.id})}" th:object="${employee}" >
        <a>Początek</a>
        <input type="datetime-local" name="begin"><br>
        <a>Koniec</a>
        <input type="datetime-local" name="end"><br>
        <input type="submit" value="Dodaj">
    </form>
</div>
<form action="#" th:action="@{/admin/employee/delete(id=${employee.id})}" method="post">
    <input type="submit" value="Usuń"/>
</form>
</body>
<script>
    function myFunction(a) {
        var x = document.getElementById(a);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</html>